
/* LOADER */
.loader{
  background: transparent;
  min-height: 500px;
  padding: 0px;
}

.bloque{
  padding: 10%;
}

.mensaje{
  color: lightslategray;
  font-size: larger;
  font-family: -webkit-pictograph;
}

.bloque img{
  width: 150px;
}

.loading{

  width: 6rem;
  height: 6rem;

}
