
<div class="col-12 body" >

    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">

          <div class="card-body box-profile">
            <div class="text-center">
              <img class=" img-fluid"
                  [src]="URL_PUBLIC+'images/registro-viajero.png'"
                  alt="User profile picture" style="width: 150px;">
            </div>

            <h3 class="profile-username text-center">Filtro</h3>
            <hr>



            <div class="botones">

              <mat-form-field>
                <mat-select placeholder="Elegir Departamento" [(ngModel)]="selectedDepartamento" name="Elegir Actividad">
                  <mat-option *ngFor="let item of departamentos" [value]="item.nombre">
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Elegir Actividad" [(ngModel)]="selectedActividad" name="Elegir Actividad">
                  <mat-option *ngFor="let item of actividades" [value]="item.descripcion">
                    {{item.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


            </div>


            <a  class="btn btn-danger btn-block" *ngIf="selectedActividad  || selectedDepartamento  " (click)="resetearFiltro()">Resetear filtros</a>

            <a class="btn btn-warning btn-block" (click)="filtrar()"><b>Buscar</b></a>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>

      <div class="col-md-9">

          <div class="row loader text-center" *ngIf="showLoading" >

            <div class="col-md-12 bloque">

              <div>
                <div class="spinner-grow text-danger loading" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <p class="mensaje">Buscando Paquetes Turisticos ....</p>
              </div>
            </div>

          </div>


          <app-message [mensaje]="'No se encontraron paquetes turisticos'" [color]="'transparent'" *ngIf="!showLoading && paquetes.length==0"></app-message>
          <div *ngIf="paquetes.length>0 && !showLoading" class="row">

                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" *ngFor="let tour of paquetes" style="padding-bottom: 20px;">
                  <a  [routerLink]="['/tours/detalle/'+tour.id]">
                      <div class="card ">
                          <div class="card-body pt-0">
                            <div class="row">

                                <div class="col-12 p-0">
                                  <img [src]="URL_PUBLIC+'images/tours/'+tour.images[0]" alt="" class=" img-fluid" style="height: 200px;
                                  width: 100%;">
                                </div>
                                <div class="col-12">
                                  <h2 class="lead"><b>{{tour.nombre}}</b></h2>
                                  <hr>
                                  <p class="text-muted text-sm"><b>Actividades: </b> <span *ngFor="let i of tour.actividades">{{ i.descripcion + '  ,' }} </span></p>

                                  <p class="text-muted text-sm"><b>Duración: </b>{{tour.dias + ' dia(s)' + tour.horas + ' hora(s)'}} </p>

                                  <p class="text-muted text-sm"><b>Departamento: </b> {{tour.departamento}} </p>
                                  <p class="precio"><b>PRECIO: </b>S/. {{tour.precio}} </p>



                                </div>


                            </div>
                          </div>

                      </div>

                  </a>



                </div>

          </div>

      </div>
    </div>


</div>

