/* .card {
    border: none;
    border-radius: 0px;
  }

.card-body {
    padding: 0.9rem;
}
.list-group-item{
  border-radius: 0px;
} */

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}

.card-header {
  background-color: #607D8B;
  color: white;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: .75rem 1.25rem;
  position: relative;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 0) calc(0.25rem - 0) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}


.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}


.lead {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
}


.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 0 solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 0) calc(0.25rem - 0);
}

.img-circle {
  border-radius: 50%;
}


.text-center {
  text-align: center !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-sm {
  font-size: .875rem!important;
}


.description-block {
  display: block;
  margin: 10px 0;
  text-align: center;
}
.description-block>.description-header {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.description-block>.description-text {
  text-transform: uppercase;
}


.precio {
  text-align: center;
  color: darkblue;
  font-size: xx-large;
}
